
.adminMainContainer{
	background-image: url( "../images/login.jpg") ;
	top: 0; 
	left: 0; 
	/* Preserve aspet ratio */
	min-width: 100%;
	min-height: 100%;
}

.cc{
	color:darkbrown;
}
.add_category{
    margin-top: 0.5% ;
    margin-bottom: 0.5%
}
.adding_btn {
  padding: 15px 25px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #7f4f16;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.adding_btn:hover {background-color: #c37e2c}

.adding_btn:active {
  background-color: #c37e2c;
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}